.cr-content {
  // @include media-breakpoint-up(lg) {
  //   padding: 0 0 0 224px;
  // }

  // @include media-breakpoint-down(md) {
  //   &::before {
  //     content:"";
  //     display: block;
  //     height: 100%;
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     background-color: rgba(255, 255, 255, .8);
  //     z-index: 1;
  //   }
  // }

  // @include media-breakpoint-down(md) {
  //   padding: 0 0 0 68px;
  // }

  // @include media-breakpoint-down(xs) {
  //   padding: 0;
  // }

  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100vh;
  padding: 40;
  margin: 40;
}

.table.table-striped {
  width: 96%  ;
  margin-left:20px;
 
  
}
.bg-light {
  background-color: white !important
}
.cr-app {
  width:100%;
  margin:auto;
}
.row.header{
  background-color: black;
  height:60px;
  color: white;
  padding:10px;
  margin: 0px;  
}
.label{
  font-weight: bold;
  padding-left: 10px;
  padding-right:4px;
  padding-bottom: 2px;
  padding-top: 10px;
}
.sub{font-weight: 400px;
  padding-left: 5px;
  margin-right:15px;
  padding-bottom: 2px;
  padding-top: 10px;}
.row.refresh{
  margin:2px;
  padding-bottom:10px;
  padding-top:10px;
 
  
}
.slashLog{padding-bottom:20px}
html * {
  font-family:arial;
  font-size:14px;
 }

 .selcls { 
  padding: 4px; 
  border: solid 1px #517B97; 
  outline: 0; 
  background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #CAD9E3), to(#FFFFFF)); 
  background: -moz-linear-gradient(top, #FFFFFF, #CAD9E3 1px, #FFFFFF 25px); 
  box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
  -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 

  } 
 .row.subheader{
margin-left:0px;
margin-right:0px;

 }
.background{background-color:#80808040;}
.pinkButton{
    height: 30px;
    font-size: 14px;
    line-height: 10px;
}
  